## IESB - CIA035 - Aula 9.2 - Pipeline 2

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/adult-income-dataset/adult.csv

In [2]:
# Carregando os dados
df = pd.read_csv("/kaggle/input/adult-income-dataset/adult.csv")

df.shape

(48842, 15)

In [3]:
# Visualizando as informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
# Visualizando os dados
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
# Não temos valores nulos
df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [6]:
# Mas temos um valor estranho '?' em algumas colunas
# Verificando a ocorrencia de '?'
print('Workclass - Qtde ?: ',df['workclass'][df['workclass']=='?'].count())
print('Porcentagem: {0:.2f}%'.format(df['workclass'][df['workclass']=='?'].count()/(len(df))*100))

Workclass - Qtde ?:  2799
Porcentagem: 5.73%

In [7]:
# Valor mais comum em 'Workclass'
df['workclass'].value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [8]:
# Verificando a ocorrencia de '?'
print('Occupation - Qtde ?: ',df['occupation'][df['occupation']=='?'].count())
print('Porcentagem: {0:.2f}%'.format(df['occupation'][df['occupation']=='?'].count()/(len(df))*100))

Occupation - Qtde ?:  2809
Porcentagem: 5.75%

In [9]:
# Valor mais comum em 'occupation'
df['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [10]:
# Verificando a ocorrencia de '?'
print('Native Country - Qtde ?: ',df['native-country'][df['native-country']=='?'].count())
print('Porcentagem: {0:.2f}%'.format(df['native-country'][df['native-country']=='?'].count()/(len(df))*100))

Native Country - Qtde ?:  857
Porcentagem: 1.75%

In [11]:
# Valor mais comum em 'native-country'
df['native-country'].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [12]:
# Vamos corrigir as colunas pelo valor mais frequente
df['workclass'] = df['workclass'].replace('?','Private')
df['occupation'] = df['occupation'].replace('?','Prof-specialty')
df['native-country'] = df['native-country'].replace('?','United-States')

In [13]:
# Transformando a coluna 'Income' em binária
df.income = df.income.replace('<=50K', 0)
df.income = df.income.replace('>50K', 1)

In [14]:
# Verificando a distribuição dos valores categóricos
cat_cols = [c for c in df.columns if (df[c].dtype == 'object')]

for i in cat_cols:
    print(i,':')
    print('')
    print(df[i].value_counts())
    print('')

workclass :

Private             36705
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

education :

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

marital-status :

Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

occupation :

Prof-specialty       8981
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

relationship :

Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

race :

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

gender :

Male      32650
Female    16192
Name: gender, dtype: int64

native-country :

United-States                 44689
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [15]:
# Limitando as categorias

# Education
df.education = df.education.replace(['Preschool','1st-4th','5th-6th','7th-8th','9th','10th','11th','12th'],'left')
df.education = df.education.replace('HS-grad','school')
df.education = df.education.replace(['Assoc-voc','Assoc-acdm','Prof-school','Some-college'],'higher')
df.education = df.education.replace('Bachelors','undergrad')
df.education = df.education.replace('Masters','grad')
df.education = df.education.replace('Doctorate','doc')

In [16]:
# Marital status
df['marital-status'] = df['marital-status'].replace(['Married-civ-spouse','Married-AF-spouse'],'married')
df['marital-status'] = df['marital-status'].replace(['Never-married','Divorced','Separated','Widowed', 'Married-spouse-absent'], 'not-married')

In [17]:
# Para Native country vamos seprar em USA e os demais
df['native-country'] = df['native-country'].apply(lambda country: 1 if country.strip() == "United-States" else 0)

In [18]:
# Verificando os dados
df.head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,left,7,not-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,1,0
1,38,Private,89814,school,9,married,Farming-fishing,Husband,White,Male,0,0,50,1,0
2,28,Local-gov,336951,higher,12,married,Protective-serv,Husband,White,Male,0,0,40,1,1
3,44,Private,160323,higher,10,married,Machine-op-inspct,Husband,Black,Male,7688,0,40,1,1
4,18,Private,103497,higher,10,not-married,Prof-specialty,Own-child,White,Female,0,0,30,1,0
5,34,Private,198693,left,6,not-married,Other-service,Not-in-family,White,Male,0,0,30,1,0
6,29,Private,227026,school,9,not-married,Prof-specialty,Unmarried,Black,Male,0,0,40,1,0
7,63,Self-emp-not-inc,104626,higher,15,married,Prof-specialty,Husband,White,Male,3103,0,32,1,1
8,24,Private,369667,higher,10,not-married,Other-service,Unmarried,White,Female,0,0,40,1,0
9,55,Private,104996,left,4,married,Craft-repair,Husband,White,Male,0,0,10,1,0
10,65,Private,184454,school,9,married,Machine-op-inspct,Husband,White,Male,6418,0,40,1,1
11,36,Federal-gov,212465,undergrad,13,married,Adm-clerical,Husband,White,Male,0,0,40,1,0
12,26,Private,82091,school,9,not-married,Adm-clerical,Not-in-family,White,Female,0,0,39,1,0
13,58,Private,299831,school,9,married,Prof-specialty,Husband,White,Male,0,0,35,1,0
14,48,Private,279724,school,9,married,Machine-op-inspct,Husband,White,Male,3103,0,48,1,1
15,43,Private,346189,grad,14,married,Exec-managerial,Husband,White,Male,0,0,50,1,1
16,20,State-gov,444554,higher,10,not-married,Other-service,Own-child,White,Male,0,0,25,1,0
17,43,Private,128354,school,9,married,Adm-clerical,Wife,White,Female,0,0,30,1,0
18,37,Private,60548,school,9,not-married,Machine-op-inspct,Unmarried,White,Female,0,0,20,1,0
19,40,Private,85019,doc,16,married,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,1,1

In [19]:
# Separando as colunas numéricas
num_cols = [c for c in df.columns if (df[c].dtype == 'int64')]

num_cols.remove('income')

num_cols

['age',
 'fnlwgt',
 'educational-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country']

In [20]:
# Separando as colunas categóricas
cat_cols = [c for c in df.columns if (df[c].dtype == 'object')]

cat_cols

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender']

In [21]:
# Separando as feats
feats = cat_cols + num_cols

feats

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'age',
 'fnlwgt',
 'educational-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country']

In [22]:
# Separando o dataframe
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, random_state = 42)

train.shape, test.shape

((36631, 15), (12211, 15))

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessamento dos dados numéricos
numerical_transformer = SimpleImputer(strategy='mean')

# Preprocessamento das colunas categóricas
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

# Juntando o preprocessamento
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, num_cols),
        ('cat', categorical_transformer, cat_cols)
    ])

In [24]:
# Modelo RF
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=42)

# Montando o pipeline
pipe_rfc = Pipeline(steps=[('preprocessor', preprocessor),
                            ('model', rfc)
                             ])

pipe_rfc.fit(train[feats], train['income'])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', SimpleImputer(),
                                                  ['age', 'fnlwgt',
                                                   'educational-num',
                                                   'capital-gain',
                                                   'capital-loss',
                                                   'hours-per-week',
                                                   'native-country']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['workclass', 'education',
                                                   'marital-status',
                                                   'occupation', 'relationship',
                                                   'race', 'gender'])])),
                ('model',
                 RandomForestClassifier(n_estimators=200, n_jobs=-1,
                                        random_state=42))])

In [25]:
print("Acurácia no training set: {:.3f}".format(pipe_rfc.score(train[feats], train['income'])))
print("Acurácia no test set: {:.3f}".format(pipe_rfc.score(test[feats], test['income'])))

Acurácia no training set: 1.000
Acurácia no test set: 0.861

In [26]:
# Modelo GBC
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(n_estimators=200, learning_rate=1, random_state=42)

# Montando o pipeline
pipe_gbc = Pipeline(steps=[('preprocessor', preprocessor),
                            ('model', gbc)
                             ])

pipe_gbc.fit(train[feats], train['income'])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', SimpleImputer(),
                                                  ['age', 'fnlwgt',
                                                   'educational-num',
                                                   'capital-gain',
                                                   'capital-loss',
                                                   'hours-per-week',
                                                   'native-country']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['workclass', 'education',
                                                   'marital-status',
                                                   'occupation', 'relationship',
                                                   'race', 'gender'])])),
                ('model',
                 GradientBoostingClassifier(learning_rate=1, n_estimators=200,
                                            random_state=42))])

In [27]:
print("Acurácia no training set: {:.3f}".format(pipe_gbc.score(train[feats], train['income'])))
print("Acurácia no test set: {:.3f}".format(pipe_gbc.score(test[feats], test['income'])))

Acurácia no training set: 0.900
Acurácia no test set: 0.867

In [28]:
# Modelo XGB
from xgboost import XGBClassifier
xgb = XGBClassifier(n_estimators=200, learning_rate=1, random_state=42)

# Montando o pipeline
pipe_xgb = Pipeline(steps=[('preprocessor', preprocessor),
                            ('model', xgb)
                             ])

pipe_xgb.fit(train[feats], train['income'])

/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[00:56:30] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', SimpleImputer(),
                                                  ['age', 'fnlwgt',
                                                   'educational-num',
                                                   'capital-gain',
                                                   'capital-loss',
                                                   'hours-per-week',
                                                   'native-country']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['workclass', 'education',
                                                   'marital-status',
                                                   'occupation', 'relationship',
                                                   'race', 'gender'])])),
                ('model',
                 XGBClassifier(bas...
                               colsample_bytree=1, gamma=0, gpu_id=-1,
                               importance_type='gain',
                               interaction_constraints='', learning_rate=1,
                               max_delta_step=0, max_depth=6,
                               min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=200,
                               n_jobs=4, num_parallel_tree=1, random_state=42,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               subsample=1, tree_method='exact',
                               validate_parameters=1, verbosity=None))])

In [29]:
print("Acurácia no training set: {:.3f}".format(pipe_xgb.score(train[feats], train['income'])))
print("Acurácia no test set: {:.3f}".format(pipe_xgb.score(test[feats], test['income'])))

Acurácia no training set: 0.972
Acurácia no test set: 0.854